                                    nav {
                                        width: 100vw;
                                        height: 59px;
                                        display: flex;
                                        background-color: rgb(250 250 250);
                                    }
                                    
                                    nav div {
                                        height: 100%;
                                    }
                                    
                                    nav div:nth-child(1) {
                                        flex: 1;
                                        margin-left: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                    
                                    nav div:nth-child(2) {
                                        flex: 5;
                                    }
                                    
                                    nav div:nth-child(3) {
                                        flex: 2;
                                        display: flex;
                                        justify-content: space-around;
                                        align-items: center;
                                    }
                                    
                                    nav div:nth-child(1) a img {
                                        border-radius: 50%;
                                        width: 65%;
                                        display: block;
                                        margin-left: 12px;
                                    }
                                    
                                    nav div:nth-child(2) form input {
                                        outline: none;
                                        display: block;
                                        width: 187px;
                                        height: 24px;
                                        border: none;
                                        border-top-right-radius: 12px;
                                        border-bottom-right-radius: 12px;
                                    }
                                    
                                    nav div:nth-child(2) form {
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    
                                    .game-button,
                                    .email-button {
                                        width: 30px;
                                        height: 30px;
                                        color: black;
                                    }
                                    
                                    .nav-items {
                                        height: 25px;
                                        background-color: rgb(250 250 250);
                                        font-size: 14px;
                                        display: flex;
                                    }
                                    
                                    .nav-items span {
                                        height: 100%;
                                        flex: 1;
                                        text-align: center;
                                        line-height: 20px;
                                        color: #666;
                                    }
                                    
                                    .nav-items span:nth-child(1) a {
                                        color: #FB7299;
                                        border-bottom: 2px solid #FB7299;
                                        padding-bottom: 3px;
                                        padding-left: 2px;
                                        padding-right: 2px;
                                    }
                                    
                                    .crousel {
                                        width: 95%;
                                        height: 176px;
                                        background-color: #fff;
                                        margin: 10px;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        display: flex;
                                        position: relative;
                                        border-radius: 4px;
                                    }
                                    
                                    .crousel img {
                                        height: 100%;
                                    }
                                    
                                    @keyframes run {
                                        %0 {
                                            transform: translate(0, 0);
                                        }
                                        48% {
                                            transform: translate(0, 0);
                                        }
                                        52% {
                                            transform: translate(-100%, 0);
                                        }
                                        100% {
                                            transform: translate(-100%, 0);
                                        }
                                    }
                                    /* @keyframes run {
                                        %0 {
                                            transform: translate(0, 0);
                                        }
                                        30% {
                                            transform: translate(0, 0);
                                        }
                                        33% {
                                            transform: translate(-100%, 0);
                                        }
                                        80% {
                                            transform: translate(-100%, 0);
                                        }
                                        86% {
                                            transform: translate(-200%, 0);
                                        }
                                        100% {
                                            transform: translate(-200%, 0);
                                        }
                                    }
                                     */
                                    
                                    .crousel img {
                                        animation: run 4s infinite alternate;
                                    }
                                    
                                    .dot {
                                        width: 25px;
                                        height: 20px;
                                        position: absolute;
                                        top: 82%;
                                        left: 90%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-around;
                                    }
                                    
                                    .dot span:nth-child(1) {
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background-color: #FB7299;
                                        animation: cwhite 4s infinite alternate;
                                    }
                                    
                                    .dot span:nth-child(2) {
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;
                                        background-color: #fff;
                                        animation: cpink 4s infinite alternate;
                                    }
                                    
                                    @keyframes cwhite {
                                        %0 {
                                            background-color: #FB7299;
                                        }
                                        51% {
                                            background-color: #FB7299;
                                        }
                                        52% {
                                            background-color: #fff;
                                        }
                                        100% {
                                            background-color: #fff;
                                        }
                                    }
                                    /* @keyframes cwhite {
                                        %0 {
                                            background-color: #FB7299;
                                        }
                                        32.9% {
                                            background-color: #FB7299;
                                        }
                                        33% {
                                            background-color: #fff;
                                        }
                                        85.9% {
                                            background-color: #fff;
                                        }
                                        86% {
                                            background-color: #FB7299;
                                        }
                                        100% {
                                            background-color: #FB7299;
                                        }
                                    } */
                                    
                                    @keyframes cpink {
                                        %0 {
                                            background-color: #fff;
                                        }
                                        51% {
                                            background-color: #fff;
                                        }
                                        52% {
                                            background-color: #FB7299;
                                        }
                                        100% {
                                            background-color: #FB7299;
                                        }
                                    }
                                    /* @keyframes cpink {
                                        %0 {
                                            background-color: #fff;
                                        }
                                        32.9% {
                                            background-color: #fff;
                                        }
                                        33% {
                                            background-color: #FB7299;
                                        }
                                        85.9% {
                                            background-color: #FB7299;
                                        }
                                        86% {
                                            background-color: #fff;
                                        }
                                        100% {
                                            background-color: #fff;
                                        }
                                    }
                                     */
                                    
                                    .crousel a {
                                        display: inline-block;
                                        width: 100%;
                                        height: 100%;
                                    }
                                    
                                    .nav-live {
                                        width: 95%;
                                        height: 185px;
                                        background-color: #fff;
                                        margin: 10px;
                                        border-radius: 4px;
                                        display: flex;
                                        flex-flow: wrap;
                                        justify-content: space-around;
                                        align-items: center;
                                    }
                                    
                                    .nav-live div {
                                        width: 17.4%;
                                        height: 42%;
                                    }
                                    
                                    .nav-live div:nth-child(1) {}
                                    
                                    .nav-live div a {
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 10px;
                                        color: black;
                                    }
                                    
                                    .nav-live div a img {
                                        width: 73%;
                                    }
                                    
                                    .mesg {
                                        display: flex;
                                        width: 95%;
                                        height: 35px;
                                        background-color: #fff;
                                        margin: 10px;
                                        justify-content: space-around;
                                        align-items: center;
                                        border-radius: 4px;
                                    }
                                    
                                    .mesgf {
                                        display: block;
                                        color: #666;
                                        font-size: 13px;
                                    }
                                    
                                    .mesg p b {
                                        margin-left: 8px;
                                        margin-right: 8px;
                                        font-weight: normal;
                                        color: #333;
                                        font-size: 14.09px;
                                    }
                                    
                                    .mesg span {
                                        font-size: 14.5px;
                                        color: black;
                                        display: block;
                                        font-weight: ;
                                        letter-spacing: 1px;
                                    }
                                    
                                    .tra {
                                        width: 24%;
                                        height: 100%;
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: center;
                                    }
                                    
                                    .tra i {
                                        width: 6.7px;
                                        height: 6.7px;
                                        border: 1px solid #888;
                                        border-left: transparent;
                                        border-bottom: transparent;
                                        transform: rotate(45deg);
                                        margin-right: 13px;
                                        margin-top: 3px;
                                    }
                                    
                                    .tv-icon {
                                        font-family: "iconfont" !important;
                                        font-size: 18px;
                                        font-style: normal;
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                        color: #fb7299;
                                    }
                                    
                                    .good {
                                        color: black;
                                        font-weight: bold;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                    }
                                    
                                    @font-face {
                                        font-family: 'iconfont';
                                        src: url('../font_mo828psua5/iconfont.eot');
                                        src: url('../font_mo828psua5/iconfont.eot?#iefix') format('embedded-opentype'), url('../font_mo828psua5/iconfont.woff2') format('woff2'), url('../font_mo828psua5/iconfont.woff') format('woff'), url('../font_mo828psua5/iconfont.ttf') format('truetype'), url('../font_mo828psua5/iconfont.svg#iconfont') format('svg');
                                    }
                                    
                                    .vedio-box {
                                        width: 95%;
                                        height: 200vh;
                                        margin: 10px;
                                        border-radius: 4px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: center;
                                        align-items: flex-start;
                                        align-content: flex-start;
                                    }
                                    
                                    .vedio {
                                        background-color: #fff;
                                        width: 45%;
                                        height: 9%;
                                        margin: 8px;
                                        border-radius: 4px;
                                    }
                                    
                                    .vedio div:nth-child(1) {
                                        height: 80%;
                                        width: 100%;
                                        background-size: 100% auto;
                                        border-top-left-radius: 4px;
                                        border-top-right-radius: 4px;
                                        display: flex;
                                        justify-content: space-around;
                                        align-items: flex-end;
                                        color: white;
                                        font-size: 13.8px;
                                        font-weight: bold;
                                    }
                                    
                                    .vedio:nth-child(1) div:nth-child(1) {
                                        background-image: url(../images/ig1.webp);
                                    }
                                    
                                    .vedio:nth-child(2) div:nth-child(1) {
                                        background-image: url(../images/ig2.webp);
                                    }
                                    
                                    .vedio:nth-child(13) div:nth-child(1) {
                                        background-image: url(../images/ig13.webp);
                                    }
                                    
                                    .vedio:nth-child(4) div:nth-child(1) {
                                        background-image: url(../images/ig4.webp);
                                    }
                                    
                                    .vedio:nth-child(15) div:nth-child(1) {
                                        background-image: url(../images/ig15.webp);
                                    }
                                    
                                    .vedio:nth-child(6) div:nth-child(1) {
                                        background-image: url(../images/ig6.webp);
                                    }
                                    
                                    .vedio:nth-child(17) div:nth-child(1) {
                                        background-image: url(../images/ig17.webp);
                                    }
                                    
                                    .vedio:nth-child(8) div:nth-child(1) {
                                        background-image: url(../images/ig8.webp);
                                    }
                                    
                                    .vedio:nth-child(19) div:nth-child(1) {
                                        background-image: url(../images/ig19.webp);
                                    }
                                    
                                    .vedio:nth-child(10) div:nth-child(1) {
                                        background-image: url(../images/ig10.jpg);
                                    }
                                    
                                    .vedio:nth-child(11) div:nth-child(1) {
                                        background-image: url(../images/ig11.jpg);
                                    }
                                    
                                    .vedio:nth-child(12) div:nth-child(1) {
                                        background-image: url(../images/ig12.jpg);
                                    }
                                    
                                    .vedio:nth-child(3) div:nth-child(1) {
                                        background-image: url(../images/ig3.jpg);
                                    }
                                    
                                    .vedio:nth-child(14) div:nth-child(1) {
                                        background-image: url(../images/ig14.webp);
                                    }
                                    
                                    .vedio:nth-child(5) div:nth-child(1) {
                                        background-image: url(../images/ig5.webp);
                                    }
                                    
                                    .vedio:nth-child(16) div:nth-child(1) {
                                        background-image: url(../images/ig16.webp);
                                    }
                                    
                                    .vedio:nth-child(7) div:nth-child(1) {
                                        background-image: url(../images/ig7.webp);
                                    }
                                    
                                    .vedio:nth-child(18) div:nth-child(1) {
                                        background-image: url(../images/ig18.webp);
                                    }
                                    
                                    .vedio:nth-child(9) div:nth-child(1) {
                                        background-image: url(../images/ig9.webp);
                                    }
                                    
                                    .vedio:nth-child(20) div:nth-child(1) {
                                        background-image: url(../images/ig20.png);
                                    }
                                    
                                    .vedio div:nth-child(1) p:nth-child(1) {
                                        width: 45%;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        margin-left: 5px;
                                    }