.author-avator {
    background-image: url(../../imgforall/bgp1.jpeg);
}

.comments-auhtor-1 {
    background-image: url(../../imgforall/bgp2.webp);
}

.comments-auhtor-2 {
    background-image: url(../../imgforall/bgp3.webp);
}