* {
    padding: 0;
    margin: 0;
}

.main {
    margin: 100px 0 0 150px;
}

.btn {
    width: 100px;
    height: 45px;
    margin-left: 20px;
}

.canvas {
    text-align: center;
    position: relative;
    top: 40px;
    border: 1px solid darkred;
    background-color: #fafafa;
}

.a {
    border-bottom: 1px solid cyan;
    border-right: 1px solid cyan;
    float: left;
}

.canvas::after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
}

.snake {
    position: absolute;
}