@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1620637820144') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nanxing:before {
  content: "\e60d";
}

.icon-nvxing:before {
  content: "\e60a";
}

.icon-yifu:before {
  content: "\e644";
}

.icon-changyongicon-:before {
  content: "\e612";
}

.icon-shezhi:before {
  content: "\e610";
}

.icon-bianji1:before {
  content: "\e633";
}

.icon-changyongicon-1:before {
  content: "\e501";
}

.icon-youxiang:before {
  content: "\e604";
}

