*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-size: 12px 1.5;
    background-color: rgba(241,245,244);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(153,153, 153);
}
a:hover{
    color: rgb(206, 154, 42);
}
button
,input{
    outline: none;
}
img{
    vertical-align: center;
}